# Trabalho Prático 1 - Introdução à Banco de Dados

Criação e manipulação de um banco de dados baseado nas despezas públicas do governo federal brasileiro.

## Imports

In [13]:
import io
import sqlite3
import pandas as pd

## Criação da Conexão

In [2]:
conn = sqlite3.connect('../tp1.db')
cursor = conn.cursor()

## Requisições

In [12]:
df = pd.read_sql_query("SELECT * " + "FROM ORGAO ", conn)
df

,COD_ORGAO,NOME_ORGAO,QTD_ORGAOS_SUBORDINADOS
0,20000,Presidência da República,2
1,22000,"Ministério da Agricultura, Pecuária e Abastec",5
2,24000,"Ministério da Ciência, Tecnologia, Inovações",4
3,25000,Ministério da Fazenda,3
4,26000,Ministério da Educação,104
5,30000,Ministério da Justiça e Segurança Pública,6
6,35000,Ministério das Relações Exteriores,1
7,36000,Ministério da Saúde,3
8,39000,"Ministério dos Transportes, Portos e Aviação",2
9,44000,Ministério do Meio Ambiente,2
10,52000,Ministério da Defesa,4
11,53000,Ministério da Integração Nacional,4
12,55000,Ministério do Desenvolvimento Social,2
13,81000,Ministério dos Direitos Humanos,1